@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
      @apply font-bold;  
    }
    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      font-size: 1em;   
    }
    h5 {
      font-size: .83em;
    }
    h6 {
      font-size: .67em;
    }
    label {
        @apply font-bold mb-2 text-gray-700;
    }
    input, textarea {
        @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight w-full;
    }
    select {
        @apply appearance-none w-40 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
    }
    button {
        @apply rounded py-2 px-4 my-4 text-white;
    }
  }